 

body {
  font-family: Arial, sans-serif;
  color: #8e8e8e;
  font-size: 12px;
  background: #1d1d1d url(images/topbackground.jpg) no-repeat 50% 0%;
}

#busy_layer {z-index: 1000 !important;}  /* z-index bug sidebars */   

/* ---------------- */
.articlecontent div img{
  border:  1px solid #bfc3c5 !important;   /* To kick ass tinymce editor and his border */
  margin: 0 10px 10px 10px;
  padding: 3px;
}
a {
  text-decoration: none;
  color: #818181;
}
.violet {
   color: #a24c96; 
}
.clink { 
  font-size: 11px; 
  color:#39192c; 
  text-decoration: none;
}
.avatar{ 
   border:  1px solid #bfc3c5; 
   padding: 3px;
  margin-bottom: 10px; 
  width: 82px; 
  height: 82px;
}
.clink:hover,
.leftbarcontent a:hover,
.rightbarcontent a:hover,
.comments a:hover,
.article-actions a:hover
 {
  border-bottom: 1px dotted;
}
.clear { clear: both;}

.result-com-link .readmore {background: none; color: #bbb; margin: 0 30px 0 0; float: right;}
.result-com-link .readmore span {background: none; }
.alert {padding: 7px 0 7px 35px; margin-bottom: 10px; width: 530px;  background: url(images/alerticon.jpg) no-repeat 0 50%;}
.textin {  border: 1px solid #bbb; color: #bbb;}
fieldset { margin: 0; }
legend {padding: 5px;}


.bbcodes {border: 1px solid #000; background: transparent; color: #ff0000;}
/* --------------------------------------- 
   Logo
  --------------------------------------- */
#header h1 a {
  margin-top: 140px;
  float: left;
  text-indent: -99999px;
  display: block;
  width: 352px;
  height: 71px;
  background: url(images/logo.png) no-repeat; 
}

/* --------------------------------------- 
   Header Search Form
  --------------------------------------- */
#search {
  width: 250px;
  height: 25px;
  margin: 203px 30px 0 0;
  float: right;
}
input.searchbtn {
  width: 55px;
  height: 25px;
  float: left;
  border: none;
}
.header-inpleftbg {
  height: 23px;
  margin-left: 65px;
  padding-left: 7px;
  background: url(images/inputleft.png) no-repeat;
}
.header-inprightbg {
   height: 23px;
  padding-right: 7px;
  background: url(images/inputright.png) no-repeat right;
}
.header-search {
  background:transparent;
  width:100%;
  height: 20px;
  padding: 3px 0 0 0;
  border: none;
}

/* --------------------------------------- 
   Main Menu (Header Horisontal)
  --------------------------------------- */
#menu {
  height: 55px;
  background: url(images/menubg.jpg) no-repeat;
  text-align: center;
}
#menu ul {
  margin: 0 16px 0 16px;
}
#menu li#first {
  background: none;
}
#menu li {
   background: url(images/menuspaser.png) no-repeat left;
  height: 55px;
  display:-moz-inline-grid;
   display:inline-block;
}
#menu a {
   display:inline-block;
  height: 35px;
  padding: 20px 20px 0 20px;
  text-decoration: none;
  text-transform: uppercase;
  font: 14px Arial;
  color: #fff;
}
#menu a:hover,
#menu a.active {
  background: url(images/menuhover.png) no-repeat 50% 0;
}

/* --------------------------------------- 
   Wrap Layers
  --------------------------------------- */
#wrap{
  width: 1130px;
  margin: 0 auto;
  background: #fff; 
}
#bottombg { 
   background: url(images/bottombg.jpg) no-repeat 50% 100%;
}
#header {
  height: 248px;
  width: 100%;
  background: url(images/header.jpg) no-repeat;
}
#cornerleft {
   background: url(images/cornleft.jpg) no-repeat bottom left;
}
#cornerright{
   background: url(images/cornright.jpg) no-repeat bottom right; 
  overflow: hidden;
  padding-bottom: 50px;
}
#container {
  width: 100%;
  float: left;
}
#content {
  padding: 18px 275px 10px 275px;
}
.leftbar {
  float: left;
  width: 255px;
  padding: 10px 0 10px 10px;
  margin-left: -100%;
  position: relative;
}
.rightbar {
  float: left;
  width: 275px;
  padding: 10px 0 10px 0;
  margin-left: -275px;
  position: relative;   
}

/* --------------------------------------- 
   Sidebar`s Styles
  --------------------------------------- */
.leftbarheader {
    width: 255px;
   height: 65px;
   background: url(images/leftbarheader.jpg) no-repeat;
}
.leftbarheader h2 { 
    float: right;
  display: inline;
  margin: 25px 20px 0 0;
  font-size: 14px;
  color: #fff;
  width: 150px;
  text-align: right;
}
.leftbarheader img {
  margin: 27px 0 0 64px;
  float: left;
}
.leftbarcontent,
.rightbarcontent {
  margin-left: 8px;
  padding: 5px 20px 0 20px;
  width: 200px;
  min-height: 170px;
    height:auto !important;
    height:170px;
  border-left: 1px solid #9a9a9a;
  border-right: 1px solid #9a9a9a;
  background: #fff url(images/sidebarcontentbg.jpg) bottom repeat-x;
  color: #818181;
}
.leftbarbottom ,
.rightbarbottom {
  width: 255px;
  height: 31px;
  background: url(images/leftbar.jpg) no-repeat;
}  
.rightbarheader { 
    width: 255px;
   height: 65px;
    background: url(images/rightbarheader.jpg) no-repeat; 
}
.rightbarheader  h2 { 
    float: left; 
   margin: 24px 0 0 20px;   
   width: 150px; font-size: 14px;
   color: #fff;
}
.rightbarheader img {
    float: right; 
   margin: 28px 63px 0 0;
}
.rightbarcontent p { 
    text-align: center; 
   font-size: 11px; 
   line-height: 16px; 
   padding-top: 10px;
}

/* --------------------------------------- 
   Sidebar Menu
  --------------------------------------- */
ul.menulist {
   padding-bottom: 20px;
}
ul.menulist li {
  background:url(images/menulistliststyle.png) 0 12px no-repeat;
  padding: 5px 0 0 20px;
}
ul.menulist a {
  font-size: 13px;
  color: #818181;
  text-decoration: none;
  border-bottom: 1px dotted;
}
ul.menulist a:hover {
  border-bottom: none;
}

/* --------------------------------------- 
   Userpanel
  --------------------------------------- */
#userpanel,
#userpanel2 {
  width: 561px;
  height: 50px;
  padding: 5px;
  background: #ae00ae url(images/userpanelbg.jpg) no-repeat;
}
#userpanel2 {
   background: #ae00ae url(images/userpanel2.jpg) no-repeat;
}
#userpanel h2,
#userpanel2 h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-size: 14px;
  padding-top: 2px;
}
#userpanel input,
#userpanel2 input {
  border: none;
  background: transparent;
}
#userpanel a,
#userpanel2 a {
  font-size: 13px;
  text-decoration: none;
  color: #fff;
}
#userpanel a:hover,
#userpanel2 a:hover {
  border-bottom: 1px dotted;
}
#loginform {
  margin: 9px 0 0 30px;  
}
p.userpanel { 
   text-align: right;
  color: #fff;
  font-size: 12px;
  padding: 3px 5px 0 0;
}
#loginuser {
  margin-left: 39px;
}
#loginuser,
#password  {
   padding: 2px 5px 0 13px;
  width: 105px;
  height: 21px;
  color: #ecdfec;
  font-size: 12px;
} 
#password {
   margin: 0 10px 0 18px;
}
.userinfo {
   padding-top: 15px; 
  float: right; 
  font-size: 11px; 
  margin: -40px 35px 0 0;
}

/* --------------------------------------- 
   Archives Module
  --------------------------------------- */
.archives b { 
   font-weight: normal;
}

/* --------------------------------------- 
   Vote Module
  --------------------------------------- */
#dle-vote {
  margin: 10px 0 10px 5px;
}
.vote {
  font-size: 12px;
  color: #a7a7a7;
  margin: 3px 0 0 -5px;
}

/* --------------------------------------- 
   Banner Module
  --------------------------------------- */
.bannerarea {
   margin: 15px;
}
.bannerarea a:hover {
   border: none;
}

/* --------------------------------------- 
   Calendar Module
  --------------------------------------- */
#calendarblock {
   margin: 0 0 20px 9px;  
  width: 243px; 
  height: 180px; 
  background: url(images/calendarbg.jpg) no-repeat; 
}
#calendar {
  width: 100%;
}
.calendar {
   color: #fff; 
  font: 11px Arial;
}
.calendar td, th {
  padding-left: 4px;
   padding-right: 3px;
  padding-top: 4px;
  padding-bottom: 3px;
}
.monthselect {
   padding: 15px 0 10px 0;
}
.monthlink {
   color: #fff;
}
a.day-active-v, 
a.day-active {
   color: #fff ; 
  text-decoration: none; 
  border-bottom: 1px dotted;
}
a.day-active-v:hover,
a.day-active:hover {
   border: none;
}
.weekday {
   color: #fff; 
   font: 11px Arial;
}
.day-current {
   border: none; 
  background: url(images/calendartoday.png) 50% 0 no-repeat; 
}

/* --------------------------------------- 
   Article Style
  --------------------------------------- */
#dle-content {
   font-size: 12px;
}
.articleonlytitle { 
   margin-left: 3px; 
  width: 564px; 
  height: 33px; 
  background: url(images/articleheader.jpg) no-repeat;
}
.articleheader { 
   margin-left: 3px; 
  width: 564px; 
  height: 61px; 
  background: url(images/articleheader.jpg) no-repeat; 
}
.articleheader a {
  border-bottom: 1px dotted;
}
.articleheader a:hover {
  border: none;
}
.articleheader h2 a {
  border: none;
}
.articleheader h2 a:hover {
   border-bottom: 1px dotted;
}
.articlebottom { 
   padding: 0 10px 0 15px; 
  margin: 0 0 30px 3px; 
  width: 539px; 
  height: 51px; 
  background: url(images/articlebottom.jpg) no-repeat;
}
.articleheader h2,
.articleonlytitle h2 {
   text-align: center;
  font-size: 16px; 
  padding:10px 0 13px 0;
}
.articleheader p {
   text-align: center; 
  color: #fff;
}
.articleheader a {
  color: #fff;
}
.articleheader a:hover {
  border: none;
}
.articleheader h2 a { 
   font-size: 16px; 
  color: #818181;
  border: none;
}
.articlecontent a {
   text-decoration: underline;
}
.articlecontent a:hover {
   text-decoration: none;
}
.articlecontent {
   padding: 10px 10px 0 10px; 
  width: 542px; 
  margin-left: 3px; 
  font-size: 12px; 
  color: #818181; 
  text-align: justify; 
  line-height: 14px; 
  border-left: 1px solid #d3d3d3; 
  border-right: 1px solid #d3d3d3;
}


.articlecontent .quote { 
   border: none; 
  border-top: 1px dashed #d3d3d3; 
  border-bottom: 1px dashed #d3d3d3; 
  padding: 5px; 
  margin-left:-10px; 
  width: 552px;
}
.article-mods { 
   margin-left:-10px; 
  width: 562px;
}
.tags,
.anonimus { 
   margin: 10px 0 10px 0; 
  border-top: 1px dashed #d3d3d3; 
  border-bottom: 1px dashed #d3d3d3; 
  padding: 5px 15px 5px 15px;
}
.anonimus {
   color: #9e4792;
}
.related-news {
   color: #6c689a; 
  padding-left: 15px;
}
.article-actions {
   float: right;
}
.article-actions a {
   float: left; 
  margin: 15px 5px 0 5px;
}
.article-views-comments {
   padding-top: 15px; 
  float: left;
}
a.readmore, 
.searchbtnright { 
   background: url(images/morebtnr.jpg) no-repeat right;  color: #fff; 
   display:inline-block;
   font: normal 12px arial, sans-serif;
   height: 20px;
   margin: 13px 6px 0 6px;
  text-align: center;
  min-width: 90px;
}
a.readmore  span, .searchbtnleft {
   background: url(images/morebtn.jpg) no-repeat left;
   display: block;
  height: 18px;
  padding: 2px 5px 0 5px;
} 
a.readmore:hover {
   border: none;
}

/* --------------------------------------- 
   Comment`s Style
  --------------------------------------- */
.comments { 
   margin-bottom: 30px; 
  background: url(images/commentsrep.jpg) repeat-y;  
}
.com-top { 
   background: url(images/commentstop.jpg) no-repeat;
}
.com-bottom {
   width: 524px; 
  padding: 20px 20px 15px 20px; 
  overflow: hidden; 
  background: url(images/commentsbottom.jpg) no-repeat bottom;
}
.com-left { 
   width: 110px; 
  float: left;
}
.com-left p {
   font-size: 11px; 
  color: #8e8e8e; 
  line-height: 13px; 
  margin-left: 4px;
}
.com-left a { 
   color: #a24c96; 
  font-size: 11px;
}
.comment {
   margin-left: 115px; 
  font-size: 12px; 
  padding-bottom: 40px;
}
.comment-add {
   width: 468px; 
  margin: -20px auto; 
  padding-top: 20px; 
  background: url(images/comaddbg.jpg) no-repeat 50% 0;
}
input.com-add { 
   float: left; 
  border: 1px solid #bbb; 
  background: transparent; 
  width: 217px; 
  padding: 0 5px 0 5px; 
  color: #bbb; 
  font-size: 12px; 
  height: 18px; 
  padding-top: 2px; 
  margin-bottom: 10px;
}
#sec-code { 
   width: 320px; 
  margin: 20px auto 0 auto;
}
#dle-captcha img {
   margin-left: 10px; 
  background: url(images/ajaxloader.gif) no-repeat 50% 50%;
} 
#dle-captcha a { 
   text-align: right; 
  font-size: 10px;
}

/* --------------------------------------- 
   Main Search 
  --------------------------------------- */
#searchtable { 
   margin: 20px 0 0 3px; 
  width: 564px;
  text-align: center;
}
.sresult {
   text-align: center; 
  padding: 15px 0 15px 0;
}
#dosearch,
#dofullsearch,
#doclear,
#doreset,
.doreg,
#removemsg {
   font-size: 11px; 
  border: none; 
  color: #fff; 
  background: transparent; 
  font-weight: normal; 
  padding: 0 0 4px 0;
}
#searchinput { 
   width: 550px !important; 
  height: 42px; 
  font-size: 28px; 
  padding: 4px 4px 0 4px; 
  color: #bbb; 
  border: 1px solid #bbb;
}
#fullsearch td {
   padding: 2px; 
  vertical-align: top;
}
#fullsearch select {
   margin-bottom: 2px;
}

/* --------------------------------------- 
   Quote 9 div`s round cornets style ;)
  --------------------------------------- */
  
.quote  {   /* use for [hide][/hide] bbcode style */
   border: 1px dashed #bbb; 
  padding: 5px; 
  color: #bbb;
}   
.quotebg {
  background: #f3f3f3 url(images/quotebg.jpg) repeat-x bottom;
}
.quotetop {
  background: url(images/quotetop.jpg) repeat-x;
}
.quotebottom {
  background: url(images/quotebottom.jpg) repeat-x bottom;
}
.quoteleft {
  background: url(images/quoteleft.jpg) repeat-y;
}
.quoteright {
  background: url(images/quoteright.jpg) repeat-y right;
}
.quotetopl{
  background: url(images/quotetopleft.jpg) no-repeat;
}
.quotetopr{
  background: url(images/quotetopright.jpg) no-repeat top right;
}
.quotebottoml {
  background: url(images/quotebottomleft.jpg) no-repeat bottom left;
}
.quotebottomr{
  background: url(images/quotebottomright.jpg) no-repeat bottom right;
  overflow: hidden; 
}
.quotetext {padding: 13px 25px 15px 40px; line-height: 14px;}

/* --------------------------------------- 
   Rating Module  (upd functions.php)
  --------------------------------------- */
.rating {
  color: #555555;
  font-size: 11px;    
  font-family: tahoma;  
  width: 65px;
  height: 13px;
}
.unit-rating {
  list-style: none;
  margin: 0px;
  padding: 0px;
  width: 65px;
  height: 13px;
  position: relative;
  background-image: url(../dleimages/rating.gif);
  background-position: top left;
  background-repeat: repeat-x;
}
.unit-rating li {
  text-indent: -90000px;
  padding: 0px;
  margin: 0px;
  float: left;
}
.unit-rating li a {
  display: block;
  width: 17px;
  height: 13px;
  text-decoration: none;
  text-indent: -9000px;
  z-index: 17;
  position: absolute;
  padding: 0px;
}
.unit-rating li a:hover {
  background-image: url(../dleimages/rating.gif);
  background-position: left center;
  z-index: 2;
  left: 0px;
}
.unit-rating a.r1-unit { left: 0px; }
.unit-rating a.r1-unit:hover { width: 13px; }
.unit-rating a.r2-unit { left: 13px; }
.unit-rating a.r2-unit:hover { width: 26px; }
.unit-rating a.r3-unit { left: 26px; }
.unit-rating a.r3-unit:hover { width: 39px; }
.unit-rating a.r4-unit { left: 39px; }  
.unit-rating a.r4-unit:hover { width: 52px; }
.unit-rating a.r5-unit { left: 52px; }
.unit-rating a.r5-unit:hover { width: 65px; }
.unit-rating li.current-rating {
  background-image: url(../dleimages/rating.gif);
  background-position: left bottom;
  position: absolute;
  height: 13px;
  display: block;
  text-indent: -9000px;
  z-index: 1;
}
  
/* --------------------------------------- 
   Page Navifation
  --------------------------------------- */
.navigation span { 
   font-size: 24px; 
  color: #ac5fa1;
}
.navigation a { 
   font-size: 15px; 
  color: #818181; 
}
.navigation a:hover {
   font-size: 24px; 
  color: #ac5fa1;
}
.pm a {
  color: #a24c96; 
  text-decoration: none;
  border-bottom: 1px dotted;
}
.pm a:hover {
  border: none;
}
/* --------------------------------------- 
   Footer
  --------------------------------------- */
#footer {
   height: 64px;  
  padding-top: 20px;   
  width: 1130px;
  margin: 0 auto;
}
.footer14px {
   color: #fff; 
  font-size: 14px; 
  text-align: center; 
}
.footer13px {
   color: #8c7b8d; 
  font-size: 13px; 
  text-align: center; 
  line-height: 25px;
}
.pm_status {
  float:left;
  border: 1px solid #d8d8d8;
  padding: 0px;
  background-color: #fff;
  width: 280px;
  height: 100px;
  margin-left: 20px;
  margin-right: 5px;
}

.pm_status_head {
  border-bottom: 1px solid #d8d8d8;
  font-size: 0.9em; 
  background: #fff url("../images/bbcodes.png") repeat-x 0 100%;
  height: 22px;
  padding: 0;
  font-weight: bold;
  text-align: center;
  color: #4e4e4e;
}

.pm_status_content {
  padding: 5px;
}